@font-face {
  font-family: 'Rosario-light';
  src: url('../font/Rosario-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rosario';
  src: url('../font/Rosario-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  /* font-family: 'Rosario'; */
}
.dateTimeCostom::-webkit-calendar-picker-indicator{
  width: 100%;
  opacity: 0;
}
#datetime-view::-webkit-calendar-picker-indicator{
  display: none;
}