@font-face {
  font-family: 'Rosario-light';
  src: url('../font/Rosario-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rosario';
  src: url('../font/Rosario-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  /* font-family: 'Rosario'; */
}
